<div class="converter-container">
  <h2>Convert Time between Time Zones</h2>
  <p>Select two countries to compare their times</p>
  
  <div class="countries-list">
    <app-country-card 
      *ngFor="let country of countryList" 
      [countryObject]="country"
      (compareClicked)="onCompareCountry($event)"
      >
    </app-country-card>
  </div>
  
  <div class="converter-form" *ngIf="selectedCountry">
    <h3>Time in {{ selectedCountry.countryName }}</h3>
    <p>{{ selectedTime }}</p>
  </div>
</div>
